<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mouser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mouser.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value>default.txt</value>
            </setting>
            <setting name="hotMod" serializeAs="String">
                <value>262144</value>
            </setting>
            <setting name="hotKey" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="toTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inTray" serializeAs="String">
                <value>False</value>
            </setting>
        </Mouser.Properties.Settings>
    </userSettings>
</configuration>